@import '~@pxblue/themes/angular/theme.scss';


$custom-typography: mat-typography-config($font-family: 'OpenSans, Arial, Helvetica, sans-serif;');
@include mat-core($custom-typography);

body { 
  margin: 0;
}

* {
  //caution this will block text fields in safari
  user-select: none;
}
